.contact-us-section {
  background-color: #14B9ED;
  color: #fff;
  padding: 40px 20px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  position: relative;
}

.contact-us-section h2,
.contact-us-section p {
  text-align: center;
}

.contact-info {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact-info p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.contact-icon {
  margin-right: 10px;
  color: #99CA3C;
}

.contact-us-section .form-group {
  margin-bottom: 15px;
}

.contact-us-section .btn-primary {
  display: block;
  width: 100%;
  margin-top: 20px;
  background-color: #99CA3C;
  border: none;
}

.contact-us-section .btn-primary:hover {
  background-color: #88B033;
}
